.table {
    table-layout: fixed;
}

.cursor-pointer {
    cursor: pointer;
}

.table-caption {
    background-color: #66ccff;
    text-align: center;
    color: #ffffff;
}

.add-remove-item, .clear-cart, .clear-cart:hover {
    color: #00aaff;
}

.add-remove-item:hover {
    text-decoration: underline;
}

.calculate-total {
    float: right;
    margin-right: 20px;
}

.total-result {
    float: right;
    margin-right: 50px;
}

.clear-cart {
    margin-left: 10px;
}
